* 
#titulo{
     
        color: brown;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
}

.chamado {
    color: brown;

}

.incrição {
    text-align: right;
}

