* 
#titulo{
     
        color: brown;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
}

.chamado {
    color: brown;
    font-size: 300%;

}

.incrição {
    text-align: right;
    font-size: 300%;
}

.história {
    text-align: center;
}

