* 
#titulo{
     
        color: brown;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
}


.história {
    text-align: center;
    border: 2px solid rgb(15, 150, 132);
    font-size: 200%;
    width: 1000px;
    margin: auto;
    
    
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.hero-image {
    background: url(uniao.jpg) no-repeat left;
    background-size: cover;
    height: 50%;
    position: fixed;
    

    
    
}

.hero-text {
    text-align: center;
    color: white;
    font-size: 150%;
    margin-left: 30px;
}

.button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 23px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 2px 2px;
    cursor: pointer;
    
    
}


